@import "~src/_variables.scss";

#header {

  .jumbotron {
    background-color: transparent;

    h1 {
      margin-left: 1rem;
      margin-right: 1rem;
      line-break: normal ;
      font-family: 'Helvetica Neue', sans-serif;
    }
  }
}
