<footer class="jumbotron jumbotron-fluid" style="margin-bottom: 0; z-index: revert">
  <!--<div class="max-width-wrapper container">-->
    <!--<div id="footer-content" class="container" style="min-height: 5rem">-->
      <!--<div id="footer-links">-->
        <!--<p>Created with <i class="fa fa-heart"></i> using Spring Boot + Angular</p>-->
        <!--<div class="logos">-->
        <!--<img id="spring-logo" src="../../assets/spring-logo.png">-->
        <!--<i class="fa fa-plus"></i>-->
        <!--<img id="angular-logo" src="../../assets/angular-logo.png">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="container max-width-wrapper">
    <div id="footer-content" class="container-fluid">
      <h6 class="text-muted">This site was created with <i class="fa fa-heart"></i> using Spring Boot & Angular 7</h6>
      <hr>
      <a href="https://github.com/abrandell"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </div>
</footer>

