<div class="container-fluid ml-auto page-content">
  <app-header [headerText]="'Find and share ideas for side projects.'"></app-header>
  <div class="container-fluid">

    <app-project-search class="ml-5"></app-project-search>

    <ul class="project-list" [@listStagger]="projectPage">
      <div class="list-info container py-0">
        <h6 class="result-amount">{{projectPage?.total_elements}} project(s)</h6>
        <button id="post-new" [disabled]="!auth.authenticated"
                class="post-button btn btn-primary btn-sm text-center"
                (click)="postForm()">
          Post a project
        </button>
        <select id="order-select" title="order">
          <option value="rate" (click)="ngOnInit()">rating</option>
          <option value="new" (click)="sortByNewest()">newest</option>
          <option value="old" (click)="sortByOldest()">oldest</option>
        </select>
        <ul class="pagination-sm">
          <li [class]="projectPage?.first ? 'page-item disabled' : 'page-item'">
            <a class="page-link" (click)="previousPage()">prev</a>
          </li>
          <li [class]="projectPage?.last ? 'page-item disabled' : 'page-item'">
            <a class="page-link" (click)="nextPage()">next</a>
          </li>
        </ul>
      </div>
      <p *ngIf="projectPage?.number_of_elements === 0" class="text-center">No projects found.</p>
      <li *ngFor="let project of projectPage?.content">
        <app-project-card [project]="project"></app-project-card>
      </li>
    </ul>

  </div>
</div>
