<div id="comments" class="container">
  <div class="comment-post-form">
    <hr class="my-2">
    <app-comment-post></app-comment-post>
  </div>
  <div class="comment-list-metadata">
    <div class="result-number">{{comments?.total_elements}} comment(s)</div>
    <select class="sort-order" title="order">
      <option value="new" (click)="sortByNewest()">newest</option>
      <option value="old" (click)="sortByOldest()">oldest</option>
    </select>
    <ul class="pagination-sm">
      <li [class]="comments?.first ? 'page-item disabled' : 'page-item'">
        <a class="page-link" (click)="prevCommentPage()">prev</a>
      </li>
      <li [class]="comments?.last ? 'page-item disabled' : 'page-item'">
        <a class="page-link" (click)="nextCommentPage()">next</a>
      </li>
    </ul>
  </div>
  <ul class="comment-list" [@listStagger]="comments" style="min-height: fit-content; padding: 0">
    <li *ngFor="let comment of comments?.content" style="min-height: fit-content">
      <app-comment-card [comment]="comment"></app-comment-card>
    </li>
  </ul>
  <p class="text-center" *ngIf="comments?.number_of_elements === 0">Be the first to comment.</p>
  <ul *ngIf="comments?.number_of_elements > 0" class="pagination-sm d-flex float-right" style="margin-right: 3rem; padding-bottom: 20px">
    <li [class]="comments?.first ? 'page-item disabled' : 'page-item'">
      <a class="page-link" (click)="prevCommentPage()">prev</a>
    </li>
    <li [class]="comments?.last ? 'page-item disabled' : 'page-item'">
      <a class="page-link" (click)="nextCommentPage()">next</a>
    </li>
  </ul>
</div>
