@import "~src/_variables.scss";

#comments {
  font-family: $font-family-secondary;
  font-size: 1rem;
  padding-bottom: 5rem;

  .comment-list-metadata {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;

    .result-amount {
    }

    .sort-order {
      margin: 0;
      width: 6rem;
      height: 1.3rem;
      padding: 0;
    }

    .pagination-sm {
      display: flex;
    }
  }

  .comment-post-form {
    padding-top: 2rem;
  }

  .comment-list {
    list-style-type: none;
    padding: 0;

  }


}
