<div id="comments" class="container">
  <div class="comment-post-form">
    <hr class="my-2">
    <app-comment-post></app-comment-post>
  </div>
  <div class="comment-list-metadata">
    <div class="result-number">{{commentPage?.total_elements}} comment(s)</div>
    <select class="sort-order" title="order">
      <option value="new" (click)="sortByNewest()">newest</option>
      <option value="old" (click)="sortByOldest()">oldest</option>
    </select>
    <ul class="pagination-sm">
      <li [class]="commentPage?.first ? 'page-item disabled' : 'page-item'">
        <a class="page-link" (click)="prevCommentPage()">prev</a>
      </li>
      <li [class]="commentPage?.last ? 'page-item disabled' : 'page-item'">
        <a class="page-link" (click)="nextCommentPage()">next</a>
      </li>
    </ul>
  </div>
  <ul class="comment-list" [@listStagger]="comments">
    <li *ngFor="let comment of commentPage?.content">
      <app-comment-card [comment]="comment"></app-comment-card>
    </li>
  </ul>
</div>

<ul class="pagination-sm d-flex float-right" style="margin-right: 3rem">
  <li [class]="commentPage?.first ? 'page-item disabled' : 'page-item'">
    <a class="page-link" (click)="prevCommentPage()">prev</a>
  </li>
  <li [class]="commentPage?.last ? 'page-item disabled' : 'page-item'">
    <a class="page-link" (click)="nextCommentPage()">next</a>
  </li>
</ul>
