@import "~src/_variables.scss";

#vote {
  display: grid;
  grid-template-rows: repeat(3, 2rem);
  margin-top: .5rem;
  color: lightgray;
  justify-content: center;

  .vote-button {
    background-color: transparent;
    border: none;
    color: inherit;
    outline: none;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        color: $primary-hover;
      }
    }
  }

  #upvote-btn{
  }

  #upvote-count {
    justify-self: center !important;
  }
}
