@import "~src/_variables.scss";

#user-card {
max-width: fit-content;
justify-self: center;
margin-bottom: 3rem;

  #user-info {
    display: grid;
    grid-template-columns: min-content auto;

    .avatar {
      max-height: 75px;
      max-width: 75px;
      border-radius: 50px;
      box-shadow: 0 3px .3rem black;
    }

    .metadata {
      display: grid;
      font-size: 1rem;
      margin-left: 1rem;
      grid-template-rows: repeat(3, min-content);

      .login {
        font-family: $font-family-primary !important;
        font-size: 1.2rem;
        color: $dark;
      }

      .hireable {
        font-family: $font-family-secondary;
        font-size: .95rem;
        color: gray;
      }

      #user-icon-links {
        font-size: .7rem;
        margin-top: .3rem;
      }
    }
  }


}
