<form  (ngSubmit)="submit()" #commentForm="ngForm" >
  <div class="form-group">
    <label for="comment-body">
      <span *ngIf="auth.authenticated">Post comment</span>
      <span *ngIf="!auth.authenticated">
        <a class="clickable" href="http://localhost:8080/oauth2/authorization/github">Log in to post a comment</a></span>
    </label>
    <textarea [disabled]="!auth.authenticated" type="text" class="form-control" id="comment-body"
              required minlength="3" rows="3" maxlength="255"
    [(ngModel)]="comment.body" name="body"></textarea>
  </div>
  <div class="form-group buttons">

    <button type="submit" class="btn btn-primary btn-sm clickable"
            [disabled]="!isFormValid()">Post</button>
    <button *ngIf="showClearButton()" id ='clear'
            type="reset" class="btn btn-sm btn-outline-secondary">Clear</button>
  </div>
</form>

