.buttons {
  margin-top: .2rem;

  #clear {
    margin-left: .5rem;
  }
}

.ng-invalid.buttons.btn-primary {
  opacity: 1;
}

.alert-success {
  height: 40px;
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
}
