@import "~src/_variables.scss";

.buttons {
  margin-top: .2rem;

  #clear {
    margin-left: .5rem;
  }
}

.ng-invalid.buttons.btn-primary {
  opacity: 1;
}

.alert-success {
  font-family: $font-family-primary;
  font-size: .8rem;
}
