<div class="form-group" [formGroup]="commentPostForm">

  <label for="comment-body">
    <span *ngIf="auth.authenticated && commentPostForm.dirty">Share a comment</span>
    <span *ngIf="!auth.authenticated">
    <a class="clickable" (click)="login()">Log in to post a comment</a></span>
  </label>
  <textarea type="text"
            class="form-control"
            formControlName="body"
            id="comment-body"
            rows="3" [placeholder]="'Share a comment.'">
  </textarea>

  <div class="container-fluid" style="padding-top: .5rem">
    <ngb-alert *ngIf="submitted" type="success" (close)="submitted = false">Comment submitted.</ngb-alert>
    <div [@formValid]="commentPostForm.valid ? 'valid' : 'invalid'" *ngIf="!submitted" class="buttons">

      <button *ngIf="commentPostForm.dirty" (click)="submit()" [disabled]="!commentPostForm.valid"
              class="btn btn-primary btn-sm clickable"> Submit
      </button>
      <button *ngIf="commentPostForm.valid" id='clear' (click)="clearText()"
              class="btn btn-sm btn-outline-secondary"><i class="fa fa-close"> </i> Cancel
      </button>
    </div>
  </div>
</div>

