<div class="container-fluid max-width-wrapper page-content">
  <app-header [headerText]="'Project Details'"></app-header>
  <div class="container-fluid">
    <div id="project-details" class="container">
      <div id="details-header" >
        <span class="title">{{project?.title}}</span>
        <span class="date">{{project?.date_posted | date: 'MMM. d, y'}}</span>
      </div>
      <app-project-edit *ngIf="editing" [project]="project"></app-project-edit>
      <div *ngIf="!editing" class="metadata">
        <span class="difficulty" [style.color]="projectService.setColor(project?.difficulty)">{{project?.difficulty}}</span>
        <span id="user-info">
          <span class="author-avatar">
            <img src="{{project?.author?.avatar_url}}" alt="avatar">
          </span>
          <span class="author-login">{{project?.author?.login}}</span>
        </span>
      </div>
      <div class="project-description container">
        <p class="text" *ngIf="!editing">{{project?.description}}</p>
      </div>
      <div class="author-buttons" *ngIf="isAuthor() && !editing" id="options">
        <button id="edit" (click)="edit()" class="btn btn-sm btn-outline-secondary">
          <i class="fa fa-pencil"></i> Edit
        </button>
        <button id="delete" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-project">
          <i class="fa fa-trash-o"></i> Delete
        </button>

        <div class="modal fade" id="confirm-delete-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteComment()" data-dismiss="modal">Delete Project</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
      <app-comment-list></app-comment-list>
  </div>
</div>
</div>
