@import "~src/_variables.scss";

.project-card-wrapper {
  display: grid;
  grid-template-columns: 2rem auto;
  margin-top: 4rem;

  #vote {
    display: grid;
    grid-template-rows: repeat(3, 2rem);
    margin-top: .5rem;
    color: lightgray;
    justify-content: center;

    i {
      color: inherit;

      &:hover {
        color: $primary-hover;
      }
    }
    #upvote-btn{}

    #upvote-count {
      font-size: 1rem;
      justify-self: center !important;
    }

    #downvote-btn {}
  }

  #project-card {
    border-radius: 5px;

    .title {
      color: $dark;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      &:hover {
        color: $primary-hover;
        cursor: pointer;
      }
    }

    #preview-content {
      margin-left: .5rem;

      #description {
        font-size: .9rem;
        line-height: 24px;
        word-wrap: break-spaces;
        white-space: pre-wrap;
        padding-bottom: 2rem;

      }

      .read-more {
        align-self: center;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        color: $blue;
        padding-bottom: 1rem;

        &:hover {
          color: $primary-hover;
        }
      }
    }

    #metadata {
      font-size: .9rem;
      padding-top: .5rem;
      display: grid;
      grid-template-columns: repeat(2, auto);

      .user-details {
        justify-self: left;

        .avatar {
          max-height: 20px;
          box-shadow: 0 0 .1rem black;
          border-radius: 50px;
        }
      }

      .date {
        justify-self: right;

      }
    }

    #difficulty {
      color: gray;
      padding-bottom: 1rem;
    }

  }
}



