<div class="project-card-wrapper" style="margin-right: 2rem; margin-left: 2rem;">

  <div class="container " id="vote">
    <button [disabled]="!auth.authenticated" id="upvote-btn" (click)="upVote()" class="vote-button fa fa-arrow-up fa-1x"></button>
    <div id="upvote-count">{{project?.rating}}</div>
    <button [disabled]="!auth.authenticated" id="downvote-btn" (click)="downVote()" class="vote-button fa fa-arrow-down fa-1x"></button>
  </div>

  <div id="project-card" class="container">
    <h4><a class="title" (click)="getDetails()">{{project?.title}}</a>
    </h4>
    <span id="difficulty" class="pl-2 font-weight-bold" [style.color]="service.setColor(project?.difficulty)">
      [{{project?.difficulty | uppercase }}]</span>
    <div id="preview-content">
      <!-- todo add tags like stack overflow -->
      <div class="text-body" id="description">{{project?.description | ellipsis:500 }}</div>
      <a class="read-more text-center" (click)="getDetails()">Read more</a>
    </div>
    <hr class="my-2">
    <h6 id="metadata">
      <span class="user-details">
        <img src="{{project?.author.avatar_url}}" class="avatar">
        {{project?.author.login}}</span>
      <span class="date"><i class="fa fa-calendar-o"></i> {{project?.date_posted | date: 'MMM. d, y'}}</span>
    </h6>
  </div>
</div>
