//$dark: rgb(25, 23, 22);
//@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Source+Code+Pro');

$dark: rgb(28, 35, 49);
$background-light: rgba(255, 251, 254, 1);
$blue: rgb(62, 80, 91);
$primary: $blue;
$primary-hover: rgba(99, 159, 171, 1);
$light-gray-line-border: #e6e6e6 2px solid;
$bg-gray: #e6e6e6;
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$font-family-base: 'Open Sans', sans-serif;
$font-family-code: 'Source Code Pro', monospace;

$colors: (
  primary: $primary,
  hover: $primary-hover,
  dark: $dark,
  bg-light: $background-light,
  primary-hover: $primary-hover,
  bg-gray: $bg-gray
);

@function color($color) {
  @return map-get($colors, $color)
}

$theme-colors: (
  "primary": $primary,
  "primary-hover": $primary-hover
);


.container-fluid {

}
