@import "_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

html {
  //overflow-x: hidden;
  //overflow-y: scroll;
  width: 100%;
  height: 100vh;
  font-size: 12px;
  line-height: 1.375em;
  color: $dark;

  body {
    height: 100%;
    padding: 0;
    margin: 0;
    font: 500 1.2rem/1.5 "Valera Round", sans-serif;
    background-color: color(bg-gray);

    p {
      line-height: 2;
    }

    nav {
      font-family: Montserrat, sans-serif;
    }

    #content {
      height: 100vh;
      .max-width-wrapper {
        max-width: 1350px;

        .page-content {
          background-color: color(bg-light);
          margin-left: auto;
          margin-right: auto;
          overflow: visible;
          min-height: 100vh;
          padding-right: 0;
          padding-left: 0;
          padding-bottom: 100px;
        }
      }
    }

  }
}

// MEDIA QUERIES

@media only screen and (min-width: 360px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 12px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}

select {
  cursor: pointer;
  height: 1.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  #difficulty {
    background-position: right 0 center;
  }
}

li {
  list-style-type: none;
  padding-left: 0;
}

.clickable {
  color: $dark;
  cursor: pointer;

  &:hover {
    color: $primary-hover;
    text-decoration: none;
  }
}

.btn-primary {
  color: $background-light;

  &:hover {
    color: $background-light;
  }
}

.modal {
  overflow-y: inherit;

  &.modal-open {
    overflow-x: auto;
  }
}


