<div class="container-fluid">
  <form (ngSubmit)="editProject()" #projectEditForm="ngForm">
    <div class="form-group">
      <label for="difficulty">Change difficulty</label>
      <select class="custom-select" id="difficulty" required
              [(ngModel)]="project.difficulty" name="difficulty">
        <option *ngFor="let diff of difficulty" [value]="diff">{{diff}}</option>
      </select>
    </div>
    <label for="description">Edit description</label>
    <textarea type="text" class="form-control"
              id="description"
              [(ngModel)]="project.description" name="description" #description="ngModel"
              rows="5" >{{project?.description}}</textarea>
    <div class="form-group edit-buttons btn-group">
      <button type="submit"
              class="btn btn-sm btn-primary"><i class="fa fa-check"></i>
        Save
      </button>
      <button id="cancel-button" (click)="cancel()"
              class="btn btn-sm btn-outline-secondary"><i class="fa fa-close"></i>
        Cancel
      </button>
    </div>
  </form>
</div>
